
.card {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro y semi-transparente */
    backdrop-filter: blur(8px); /* Efecto borroso para el fondo de la tarjeta */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Borde blanco semi-transparente */
}
.card-img-top {
    height: 200px; /* Ajusta según necesidad */
    object-fit: cover; /* Asegura que la imagen cubra bien el espacio sin deformarse */
}