/* Estilo para el hero */
.hero-section {
  display: flex;
  justify-content: center;
  height: 90vh;
  position: relative;
}



.titulo-hero {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.titulo-hero h1 {
  color: #39AFC1;
  font-family: 'Futura Condensed', sans-serif;
  font-size: 5rem;
  font-weight: 900;

}
.titulo-hero p {
  color: #333;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 20px;
}
.button-enviar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25D366;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-enviar:hover {
  background-color: #1EBE5B;
  transform: scale(1.05);
}

.whatsapp-icon {
  margin-right: 10px;
  font-size: 22px;
}

/* Estilos para la calculadora en el hero */
.calculadora-hero {
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.3); /* Fondo semitransparente */
  padding: 20px;
  margin: 100px 20px 20px 20px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1; /* Para que el contenido esté por encima */
}

.calculadora-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px; /* Misma curvatura del borde */
  padding: 7px; /* Espesor del borde */
  background: linear-gradient(to bottom, #39AFC1, #ffffff);
  z-index: -1;
  mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
  mask-composite: exclude;
  -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
  -webkit-mask-composite: xor;
}






.section-description {
  color: #333;
  line-height: 1.6;
}

/* Estilos generales */
.footer {
  background-color: #39AFC1;
  color: #ffffff;
  text-align: center;
}

.quienes-somos-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-image: url("./img/paisaje.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 60px 20px;
}
.quienes-somos-section h2 {
  position: relative;
  padding: 140px;
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.quienes-somos-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #ffffff, #ffffff9d, #ffffff9d,#F7D117 );
}
.calculadora-section {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 30px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
  color: #0033AB;
  margin-bottom: 20px;
  text-align: center;
}

.form-group label {
  font-weight: bold;
  color: #333;
}

.form-control {
  border-radius: 20px;
  padding: 10px;
}



/* Face.css */
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

.capa {
  background-color: #000000c2;
}

header > * {
  position: relative;
  z-index: 2;
}
/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    height: auto;
  }

  .titulo-hero, .calculadora-hero {
    width: 90vw;
    margin: 0 0 20px 0;
  }

  .hero-p {
    display: none;
  }
  .titulo-hero h1 {
    font-size: 3rem;
  }

  .titulo-hero p {
    font-size: 1rem;
  }

  .quienes-somos-section {
    height: auto;
    padding: 40px 20px;
  }

  .quienes-somos-section h2 {
    font-size: 2.5rem;
    padding: 80px 20px;
  }
}
