/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.hero-section {
  padding: 20px;
}

/* Sección de pasos */
 /* Sección de pasos */
 .pasos-section {
  background-color: rgb(255, 255, 255); /* Fondo negro transparente */
  padding: 20px;
  width: 100%; /* Aumenta el ancho para pantallas pequeñas */
  text-align: center; /* Asegura que todo el texto esté centrado */
  color: black;
}

.pasos-container {
  display: flex;
  justify-content: space-between; /* Espacio uniforme entre los elementos */
  align-items: flex-start; /* Alineación vertical al principio */
  margin: 10px 0; /* Espacio entre el título y el contenido */
}

.paso {
  flex: 1; /* Cada "paso" ocupa espacio igual */
  text-align: center;
  margin: 10px; 
  color: black; /* Para que el texto sea visible sobre el fondo oscuro */
}

.paso-img {
  width: 100%; /* Las imágenes ocupan el 100% del ancho del contenedor */
  max-width: 120px; /* Mantiene un tamaño máximo */
  border-radius: 5px;
}

/* Nota de seguridad */
.nota-seguridad {
  margin-top: 20px;
  color: lightgray;
  text-align: center;
}

/* Estilo del footer */
.footer {
  text-align: center;
  color: white;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .pasos-container {
    flex-direction: column; /* Apila los pasos verticalmente en pantallas pequeñas */
    align-items: center; /* Centra los pasos */
  }

  .paso {
    width: 80%; /* Aumenta el ancho de los pasos en pantallas pequeñas */
    margin: 5px 0; /* Ajusta el margen */
  }

  .nota-seguridad {
    font-size: 0.9em; /* Tamaño de fuente más pequeño en pantallas pequeñas */
  }
}