/* Estilo para el hero */
.hero-section {
    display: flex;
    justify-content: center;
    height: 90vh;
    position: relative;
}



.titulo-hero {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.titulo-hero h1 {
    color: #79cbdc;
    font-family: 'Futura Condensed', sans-serif;
    font-size: 5rem;
    font-weight: 900;

}
.titulo-hero p {
    color: #333;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 20px;
}
/* Estilos para la calculadora en el hero */
.calculadora-hero {
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.3); /* Fondo semitransparente */
    padding: 20px;
    margin: 100px 20px 20px 20px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1; /* Para que el contenido esté por encima */
}

.calculadora-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px; /* Misma curvatura del borde */
    padding: 7px; /* Espesor del borde */
    background: linear-gradient(to bottom, #79cbdc, #ffffff);
    z-index: -1;
    mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    mask-composite: exclude;
    -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
}


.btn-primary {
    background-color: #0033AB;
    color: #F7D117;
}

.btn-primary:hover {
    background-color: #CF142B;
    color: white;
}

.section-title {
    color: #0033AB;
}

.section-description {
    color: #333;
    line-height: 1.6;
}

/* Estilos generales */
.footer {
    background-color: #0033AB;
    color: #F7D117;
    text-align: center;
}

.quienes-somos-section {
    background: #f8f9fa;
    padding: 60px 0;
}
.calculadora-section {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: #0033AB;
    margin-bottom: 20px;
    text-align: center;
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border-radius: 20px;
    padding: 10px;
}

.btn-primary {
    background-color: #0033AB;
    color: #F7D117;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #CF142B;
    color: white;
}

/* Face.css */
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.capa {
    background-color: #000000c2;
}

header > * {
    position: relative;
    z-index: 2;
}
