.contact-form-container {
    background-color: #000000ad;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .contact-form-container h2 {
    color: #0033AB;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact-form .form-control {
    border-color: #F7D117;
  }
  
  .contact-form .btn-primary {
    background-color: #0033AB;
    border-color: #0033AB;
  }
  
  .contact-form .btn-primary:hover {
    background-color: #F7D117;
    border-color: #F7D117;
  }
  