.calculadora-section {
    background-color: #f8f9fa59; /* Fondo semitransparente */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 40px; /* Espaciado interno */
    margin-top: 20px; /* Separación superior */
}

.section-title-calculator {
    font-family: 'Futura Condensed', sans-serif;
    color: black; /* Color oscuro para el texto del título */
    margin-bottom: 30px; /* Espaciado inferior del título */
    text-align: start; /* Alinear el título al centro */
    font-weight: 700;
}
.columna-envio {
    display: flex;
    flex-direction: row;
}
.form-group {
    margin-bottom: 0 !important; /* Eliminar el margen inferior de los grupos de inputs */
}

.form-control {
    border-radius: 20px; /* Bordes redondeados de los inputs */
    border: none !important; /* Color del borde */
    background: none !important; /* Color de fondo */
    padding: 10px 15px; /* Espaciado interno del input */
}
.amount-input {
    font-family: 'Futura Condensed', sans-serif;
    color: #000000 !important;
    font-size: 28px;
    font-weight: 900;
}
.tu-envias {
    font-family: 'Futura Condensed', sans-serif;
    color: #858383 !important;
    font-size: 18px;
    font-weight: 700;
}
.tu-envias-gost {
    color: rgb(255, 255, 255) !important;
}
.name-coin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Futura Condensed', sans-serif;
    color: #858383 !important;
    font-size: 18px;
    font-weight: 700;
}

.name-coin-group {
    margin-top: 25px;
    padding-left: 10px; ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 20px;
}

.btn-primary:hover {
    background-color: #0056b3; /* Fondo más oscuro cuando se hace hover */
    color: white; /* Cambia el color del texto a blanco */
}

.img-boton {
    width: 25px; /* Tamaño de los íconos de los botones */
}
.select-container {
    position: relative;
    display: flex;
    align-items: center;
}

.flag-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
}

.currency-select {
    flex-grow: 1;
    padding-left: 10px;
}

.select-container {
    position: relative;
    display: flex;
    align-items: center;
}

.currency-select {
    appearance: none; /* Oculta la flecha nativa del navegador */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px; /* Espacio suficiente para el icono */
}

.select-icon {
    position: absolute;
    right: 10px;
    color: #888;
    pointer-events: none; /* Evita que interfiera con el clic en el select */
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .section-title {
        font-size: 24px; /* Tamaño más pequeño del título en pantallas móviles */
    }

    .form-control {
        font-size: 14px; /* Tamaño de texto más pequeño en los inputs */
    }

    .btn-primary {
        padding: 8px 20px; /* Menos padding en pantallas móviles */
        font-size: 14px; /* Tamaño de texto más pequeño en los botones */
    }
}
