.testimonials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 100%;
  padding: 25px;
  background-color: #ffffff;
  margin: 0; 
  margin-bottom: 30px;
}

.testimonios-cards {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f3e391;
  border-radius: 50px;
  padding-top: 100px ;
  margin-top:    50px ;
  ;
}
.testimonio-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 250px;
  padding: 50px 20px 20px 20px;
  margin: 10px;
  border: none;
  border-radius: 50px;
  background-color: #ffffff;
}

.testimonial-card .card-text {
  color: #0033AB;
}

.testimonial-card .card-subtitle {
  color: #fd4d62;
  font-style: italic;
}
.testimonials-title {
  color: #39AFC1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials-videos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  width: 100px;
  position: absolute;
  top:-50px ;
}
.testimonio-rayas {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonio-rayas img {
  width: 100px;
  padding: 15px;
  margin: 20px 0px;
}

.estrellas {
  width: 100px;
}

@media (max-width: 768px) {
  .testimonios-cards {
    flex-direction: column;
    padding-top: 50px;
    margin-top: 20px;
  }

  .testimonio-card {
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 10px 0;
  }

  .avatar {
    width: 80px;
    top: -40px;
  }

  .testimonio-rayas img {
    width: 80px;
    padding: 10px;
    margin: 10px 0;
  }

  .estrellas {
    width: 80px;
  }
}