/* Contenedor principal de la página de seguimiento */
.seguimiento-container {
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Título principal */
.seguimiento-container h4 {
  font-size: 2rem;
  font-weight: bold;
  color: #0033ab;
  margin-bottom: 30px;
  text-align: center;
}

/* Estilo de texto para el estado de carga */
.loading {
  font-size: 1.2rem;
  color: #666;
  text-align: center;
  margin-top: 20px;
}
