.paises-monedas-section {
  background-image: url('./img/LAPLATAPAVENEZUELA.png'); /* Cambia por tu imagen de fondo */
  background-size: cover;
  background-position: center;
  
  color: #fff; /* Cambia el color del texto a blanco para mejor contraste */
}
.capa {
  background-color: #000000c2;
}